.lightgray {
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.whitegray {
    background-color: mintcream;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

.middle {
    align-content: center;
}