.lightgray {
    height: 100%;
    background-color: aliceblue;
}

.whitegray {
    background-color: mintcream;
}

.center {
    text-align: center;
}

.darkblue {
    background-color: #0C99D5;
}

.green {
    background-color: #74BE45;
}

.lightblue {
    background-color: #A9DFF3;
}

.gray {
    background-color: #D0D1D0;
}